/* Movies-card */

.movies-card {
  position: relative;
  z-index: 1;
}

/* Link */

.movies-card__link {
  text-decoration: none;
}

/* Text */

.movies-card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px 0;
}

/* Title */

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  margin: 0;
}

/* Duration */

.movies-card__duration {
  font-size: 11px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 0;
  background-color: #F4F4F4;
  border-radius: 3px;
  width: 52px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Img */

.movies-card__img {
  width: 100%;
  max-width: 360px;
  max-height: 201px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

@media screen and (max-width: 1024px) {
  .movies-card__img {
    max-width: 339px;
  }
}

@media screen and (max-width: 580px) {
  .movies-card__img {
    max-width: 339px;
  }
}

/* Save-btn */

.movies-card__save-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 72px;
  height: 21px;
  font-size: 10px;
  font-weight: 400;
  color: #000;
  text-align: center;
  background-color: #F4F4F4;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  transition: all .5s ease;
}

.movies-card__save-btn:hover {
  background-color: #EE3465;
  color: #fff;
}

/* Icon */

.movies-card__icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #EE3465;
  background-image: url(../../images/save-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.movies-card:hover .movies-card__save-btn {
  opacity: 1;
}