/* Movies */

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 70px;
}

@media screen and (max-width: 1024px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 580px) {
  .movies {
    padding: 0 10px;
  }
}

/* Content */

.movies__content {
  max-width: 1140px;
  width: 100%;
  flex: 1 0 auto;
}