/* NotFound */

.notfound {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32% min-content 200px;
  align-content: center;
  justify-items: center;
}

/* Error */

.notfound__error {
  font-size: 140px;
  font-weight: 400;
  line-height: 1.3em;
  color: #000;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 580px) {
  .notfound__error {
    font-size: 80px;
  }
}

/* Text */

.notfound__text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .notfound__text {
    font-size: 12px;
  }
}

/* Link */

.notfound__link {
  text-decoration: none;
  color: #3456F3;
  font-size: 14px;
  font-weight: 400;
  align-self: end;
}

@media screen and (max-width: 580px) {
  .notfound__link {
    font-size: 12px;
  }
}