.main__theme_style_gray {
  background-color: #DDDEE3;
}

.main__theme_style_snow {
  background-color: #FAFAFA;
}

.main__theme_style_whitesmoke {
  background-color: #F5F5F5;
}

.main__theme_style_lightsmoke {
  background-color: #F8F8F8;
}

.main__content_position_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__space_type_header {
  padding: 17px 70px 20px 70px;
}

@media screen and (max-width: 768px) {
  .main__space_type_header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.main__space_type_promo {
  padding: 50px 70px 60px;
}

@media screen and (max-width: 768px) {
  .main__space_type_promo {
    padding: 300px 44px 70px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_promo {
    padding: 180px 0px 30px;
  }
}

.main__space_type_techs {
  padding: 90px 70px 100px;
}

@media screen and (max-width: 768px) {
  .main__space_type_techs {
    padding: 80px 50px 90px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_techs {
    padding-top: 60px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 70px;
  }
}

.main__space_type_project {
  padding-top: 70px;
  padding-bottom: 110px;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 768px) {
  .main__space_type_project {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_project {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 60px;
    padding-bottom: 58px;
  }
}

.main__space_type_about-me {
  padding-top: 66px;
  padding-bottom: 101px;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 768px) {
  .main__space_type_about-me {
    padding-top: 62px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_about-me {
    padding-top: 60px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 70px;
  }
}

.main__space_type_portfolio {
  padding-bottom: 110px;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 768px) {
  .main__space_type_portfolio {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_portfolio {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 70px;
  }
}

.main__space_type_footer {
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 580px) {
  .main__space_type_footer {
    padding-left: 1px;
    padding-right: 10px;
  }
}

.main__space_type_title-s {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 768px) {
  .main__space_type_title-s {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_title-s {
    padding-top: 70px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.main__space_type_title-m {
  padding-top: 110px;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 768px) {
  .main__space_type_title-m {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 580px) {
  .main__space_type_title-m {
    padding-top: 70px;
    padding-left: 18px;
    padding-right: 18px;
  }
}