/* Section */

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .main__section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 580px) {
  .main__section {
    padding-left: 18px;
    padding-right: 18px;
  }
}

/* Style */

.main__section_style_gray {
  background-color: #DDDEE3;
}

.main__section_style_snow {
  background-color: #FAFAFA;
}

.main__section_style_whitesmoke {
  background-color: #F5F5F5;
}

.main__section_style_lightsmoke {
  background-color: #F8F8F8;
}

/* Title-s */

.title-s {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .title-s {
    padding-top: 90px;
  }
}

@media screen and (max-width: 580px) {
  .title-s {
    padding-top: 70px;
  }
}

/* Title-m */

.title-m {
  padding-top: 110px;
}

@media screen and (max-width: 768px) {
  .title-m {
    padding-top: 90px;
  }
}

@media screen and (max-width: 580px) {
  .title-m {
    padding-top: 70px;
  }
}