.search {
  padding: 70px 0 80px;
  border-bottom: 1px solid #E8E8E8;
}

.search__form {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 42px 870px 226px;
}

.search__icon {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  z-index: 2;
}

.search__label_type_input {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.search__label_type_btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.search__checkbox {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.search__input {
  width: 100%;
  height: 72px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 3px 14px 0px #00000014;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 400;
  color: #A0A0A0;
  padding: 0 0 0 63px;
}

.search__input::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

.search__input::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  display: none;
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 34px;
  max-height: 34px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-image: url(../../images/search-icon-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 34px;
  max-height: 34px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background-color: #3456F3;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}