/* Filter-checkbox */

.filter-checkbox {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 29px;
  border-left: 1px solid #CBCBCB;
  max-height: 40px;
}

/* Input */

.filter-checkbox__input_type_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Pseudo-input */

.filter-checkbox__pseudo-input {
  display: flex;
  width: 34px;
  height: 14px;
  background-color: #2BE080;
  border-radius: 20px;
}

.filter-checkbox__input_type_hidden:disabled + .filter-checkbox__pseudo-input_type_visible {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  align-self: flex-start;
}

.filter-checkbox__input_type_hidden:focus + .filter-checkbox__pseudo-input_type_visible {
  width: 36px;
  height: 20px;
  background-color: #2BE080;
}

/* Text */

.filter-checkbox__text {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding-left: 14px;
  color: #000;
}