/* Label */

.form__label {
  font-size: 10px;
  font-weight: 400;
  color: #A0A0A0;
}

/* Input */

.form__input {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  height: auto;
  min-height: 32px;
  margin-bottom: 24px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  background-color: #fafafa;
}