.project {
  max-width: 1140px;
  width: 100%;
}

.project__list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0 0 110px 0;
}

@media screen and (max-width: 768px) {
  .project__list {
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 580px) {
  .project__list {
    flex-direction: column;
    margin: 0 0 60px 0;
    gap: 56px;
  }
}

.project__subtitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 580px) {
  .project__subtitle {
    font-size: 18px;
    margin: 0 0 16px 0;
  }
}

.project__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57em;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .project__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .project__text {
    font-size: 11px;
  }
}

.project__time-line {
  display: grid;
  grid-template-rows: 36px 36px;
  grid-template-columns: 1fr 4fr;
}

@media screen and (max-width: 580px) {
  .project__time-line {
    grid-template-columns: 1fr 2fr;
  }
}

.project__time {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .project__time {
    font-size: 11px;
  }
}

.project__time_type_short {
  background-color: #3456F3;
  color: #FFFFFF;
}

.project__time_type_long {
  background-color: #F2F2F2;
  color: #000;
}

.project__task {
  font-size: 14px;
  font-weight: 500;
  color: #A0A0A0;
  margin: 8px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .project__task {
    font-size: 11px;
    margin: 0;
  }
}